html {
    direction: rtl;
    scroll-behavior: smooth;
}

#container-all {
    display: flex;
    overflow-x: hidden;
    margin: 0;
    margin-top: 20px;
    z-index: 1;
    background-color: transparent;
}

.head {
    display: inline-block;
    direction: rtl;
    text-align: center;
    position: relative;
}

.head a {
    position: relative;
}

.head a::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: opacity 0.2s ease;
    opacity: 1;
}

.head a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 0;
}

.head a:hover::before {
    opacity: 0;

}

.head a:hover::after {
    transform: scaleX(1);
    opacity: 1;
}




#logo {
    width: 50px;
    height: auto;
    padding-top: 0;
    object-fit: cover;
}

#container-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    margin-top: 50px;
}

#container-jobs {
    padding-top: 100px;
}

.open-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 300px;
}


.open-img img {
    animation: myanimation 12s infinite;
    transition: filter 1s ease;
    position: absolute;
    opacity: 0;
    width: 1000px;
    height: 600px;
    object-fit: cover;


}

.open-img img {
    animation: fade 12s infinite;
}

.open-img img:nth-child(1) {
    animation-delay: 0s;
}

.open-img img:nth-child(2) {
    animation-delay: 4s;
}

.open-img img:nth-child(3) {
    animation-delay: 8s;
}

@keyframes fade {
    0% {
        opacity: 0;
        filter: blur(5px);
    }

    16.67% {
        opacity: 1;
        filter: blur(0);
    }

    33.33% {

        opacity: 1;
        filter: blur(0);
    }

    33.34% {

        opacity: 0;
        filter: blur(5px);

    }

    100% {
        opacity: 0;
        filter: blur(5px);
    }
}

#container-about {
    text-align: center;
    margin: 20px;
    padding-top: 100px;
    margin-top: 150px;
}

#aboutt {
    color: #381616;
    font-family: 'Gill Sans', 'Gill Sans MT',
        Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    width: 400px;
    display: inline-block;
}

#bgi {
    background-image: url(../images/צילום\ מסך\ 2025-01-07\ 204516.png);
    width: 100%;
    height: 200px;
    background-attachment: fixed;
    background-size: cover;
}

#container-open {
    height: auto;
    direction: rtl;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: rgb(242, 224, 234);
    box-shadow: 0 2px 10px 0px gray;
    z-index: 100;
    width: 100%;
    opacity: 0.9;
    margin-bottom: 100px;
}

#op {
    width: 100%;
    height: auto;
}

#p {
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    z-index: 1;
    top: 20%;
    font-style: italic;
    text-align: center;
    font-size: 60px;
    height: auto;
    font-weight: bold;

}

#container-open:hover {
    transition: all.5s;
}

.head {
    display: inline;
    direction: rtl;
    text-align: center;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    transition: all .2s, border-bottom 2s;
    border-radius: 5px;


}


.head a {
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
        Geneva, Verdana, sans-serif;


}

.head {
    position: relative;
}



.picture {
    height: 200px;
    overflow: hidden;
    transition: transform all 0.5s ease;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    padding: 3.5px;
    justify-content: center;
    border-radius: 7px;


}

.picture:hover {
    opacity: 0.5;
    transform: scale3d(1.1)
}

.picture:focus {
    outline: none;
    transform: scale(1.2);
}

.container {

    margin-left: 200px;
    margin-right: 200px;
    padding-top: 100px;
}

h2 {
    text-align: center;
    color: #441b1b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    position: relative;
    padding: 7px 0px;
    font-weight: bold;
    z-index: 0;
    transition: transform 0.3s ease;
    width: 187px;
    margin: 0 auto;



}

h2:hover {
    transform: translateY(-5px);

}

#nav {
    display: flex;
    justify-content: center;
}

.navjob {
    display: inline-block;
    direction: rtl;
    text-align: center;
    align-items: center;
    padding-right: 100px;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all .2s;
    padding: 3px 10px;

}

.navjob a {
    color: rgb(183, 77, 77);
    background-color: white;
    border: black 1px solid;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
    text-transform: none;
    font-weight: bold;
    margin: 0;
    padding: 5px;
}


ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.navjob a:hover {
    background-color: rgb(183, 77, 77);
    color: white;
}



h2:before,
.line_from_sides:after,
.two_lines:after,
.two_lines_move:after {
    width: 100%;
    background: var(--section-color);
    height: 5px;
    bottom: 0;
    transition: all 0.4s;
}

@keyframes img {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.image2 {
    animation: img 1s forwards;
    animation-delay: 3s;
}

.image3 {
    animation: img 1s forwards;
    animation-delay: 6s;
}


#back {
    width: 60px;
    height: 60px;
    font-size: 30px;
    position: fixed;
    color: purple;
    bottom: 10px;
    left: 0;
    border: 1px #df7d7d;
    text-decoration: none;
    fill: #df7d7d;
}

#back a {
    text-decoration: none;
    color: purple;
}

#footer {
    background-color: #df7d7d;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    border-top: 2px solid #ccc;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;



}

.footer-item {
    text-align: center;
}

@media (max-width:480px) or (max-width:770px) {
    .open-img img {
        height: auto;
        width: 100%;
    }

    #container-open {
        height: auto;
        direction: rtl;
        height: 200px;
        position: fixed;
        top: 0;
        background-color: rgb(242, 224, 234);
        box-shadow: 0 2px 10px 0px gray;
        z-index: 100;
        width: 100%;
        opacity: 0.9;
        position: absolute;
    }

    .head {
        display: block;
        direction: rtl;
        text-align: center;
        padding-right: 20px;
        font-size: medium;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(0, 0, 0);
        transition: all .2s, border-bottom 2s;
        border-radius: 5px;
        display: flex;

    }


    nav ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    #logo {
        max-width: 100%;
        height: auto;

    }


    .navjob a {
        color: rgb(183, 77, 77);
        background-color: white;
        border: black 1px solid;
        cursor: pointer;
        border-radius: 3px;
        transition: background-color 0.3s, color 0.3s;
        text-decoration: none;
        text-transform: none;
        font-weight: bold;
        margin: 0;
        padding: 5px;
        display: block;
        width: 140px;
    }

    .navjob {
        display: inline-block;
        direction: rtl;
        text-align: center;
        align-items: center;
        padding-right: 100px;
        font-size: medium;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: all .2s;
        padding: 3px 10px;

    }

    ul {
        list-style-type: none;

    }

    #p {
        color: rgb(255, 255, 255);
        position: relative;
        font-size: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: flex;
        z-index: 1;
        top: 20%;
        font-style: italic;
        text-align: center;
        font-size: 30px;
        font-weight: bold;

    }

    h2 {
        text-align: center;
        color: #441b1b;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        position: relative;
        padding: 7px 0px;
        font-weight: bold;
        z-index: 0;
        transition: transform 0.3s ease;
        width: 187px;
        margin: 0 auto;



    }

    h2:hover {
        transform: translateY(-5px);
    }

    .container {
        padding-top: 10px;
        margin: 0;
    }


    .picture {
        height: auto;
        width: 100%;
        overflow: hidden;
        transition: transform all 0.5s ease;
        padding: 3.5px;
        border-radius: 7px;
    }

    #aboutt {
        color: #381616;
        font-family: 'Gill Sans', 'Gill Sans MT',
            Calibri, 'Trebuchet MS', sans-serif;
        font-size: 12px;
        width: 300px;
        display: inline-block;
    }

    #container-about {
        text-align: center;
        margin-top: 30px;
    }

    #footer {
        background-color: #df7d7d;
        color: #fff;
        text-align: center;
        padding: 20px;
        font-family: 'Arial', sans-serif;
        font-size: 14px;
        border-top: 2px solid #ccc;
        display: block;

    }

    .footer-item {
        text-align: center;
    }

    #back {

        bottom: 10px;
        left: 10px;
    }

    @media (max-width:770px) {
        #container-open {
            height: auto;
        }

        .head {
            flex-direction: column;
            text-align: center;
        }

        #p {
            color: rgb(255, 255, 255);
            position: relative;
            font-size: 30px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            display: flex;
            z-index: 1;
            top: 20%;
            font-style: italic;
            text-align: center;
            font-size: 30px;

            height: 100px;
            font-weight: bold;

        }

    }
}

@media (max-width:1024px) {


    .container {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 100px;
        padding-top: 100px;
    }
}